.logo-block-inner > div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: transform 0.2s ease;
}
.logo-block img {
    visibility: hidden;
}
.logo-block .icon-wrapper {
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #000;
}
.logo-block .company-name,
.logo-block .slogan {
    background-color: #000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.logo-block .style-1 {
    font-family: "Georama", serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    line-height: 1.1;
}
.logo-block .style-1 .icon-wrapper {
    margin-right: 15px;
}
.logo-block .style-1 span:first-child {
    display: block;
}
.logo-block .style-2 {
    flex-direction: column;
    font-family: "Barlow", serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-style: italic;
}
.logo-block .style-2 .icon-wrapper {
    margin-bottom: 8px;
}
.logo-block .style-3 {
    font-family: "Geologica", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
    font-style: italic;
    line-height: 1;
}
.logo-block .style-3 .title-wrap {
    margin-left: -205px;
    margin-bottom: 5px;
    padding-right: 5px;
}
/* .logo-block .style-3 span:not(:first-child) {
    display: none;
} */
.logo-block .style-4 {
    font-family: "Rubik Mono One", monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
}
.logo-block .style-4 .icon-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 3px;
}
.logo-block .style-5 {
    font-family: "Spinnaker", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-5 .icon-wrapper  {
    margin-bottom: 5px
}
.logo-block .style-6 {
    font-family: "Geologica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 31px;
    font-weight: 700;
    font-style: italic;
    text-align: right;
    display: flex;
    align-items: center;
}
.logo-block .style-6 .title-wrap {
    margin-top: 27px;
    margin-left: -15px;
}
.logo-block .style-6 .company-name {
    padding-right: 5px;
}
/* .logo-block .style-6 span:not(:first-child) {
    display: none;
} */
.logo-block .style-6 .slogan {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
}
.logo-block .style-7 {
    font-family: "Sofia Sans", sans-serif;
    letter-spacing: 1px;
    font-size: 27px;
    font-weight: 700;
    font-style: italic;
    text-align: right;
    display: flex;
    align-items: center;
}
.logo-block .style-7 .title-wrap {
    margin-top: -15px;
    margin-left: -85px;
}
.logo-block .style-7 .company-name {
    font-weight: 800;
} 
.logo-block .style-7 .company-name span:not(:first-child) {
    font-weight: 400;
}
.logo-block .style-7 .slogan {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 600;
}
.logo-block .style-8 {
    font-family: "REM", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
}
.logo-block .style-8 .company-name span:not(:first-child) {
    font-weight: 400;
}
.logo-block .style-8 .title-wrap {
    margin-left: -45px;
}
.logo-block .style-9 {
    font-family: "Geologica", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    line-height: 1.1;
    position: relative;
}
.logo-block .style-9 .icon-wrapper {
    position: absolute;
    right: -30px;
    top: -35px;
}
/* .logo-block .style-9 span:not(:first-child) {
    display: none;
} */
.logo-block .style-9 .slogan {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
}
.logo-block .style-10 {
    font-family: "Aoboshi One", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-11 {
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-11 span:not(:first-child) {
    font-weight: 400;
}
.logo-block .style-12 {
    font-family: "Questrial", sans-serif;
    font-size: 29px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
}
.logo-block .style-12 .icon-wrapper {
    margin-right: 15px;
}
.logo-block .style-12 span:first-child {
    display: block;
}
.logo-block .style-13 {
    font-family: "Montserrat", sans-serif;
    font-size: 29px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    word-spacing: -5px;
}
.logo-block .style-13 span:not(:first-child) {
    font-weight: 400;
}
.logo-block .style-14 {
    font-family: "Radley", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2.5px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-14 .slogan {
    font-family: "REM", sans-serif;
    font-size: 14px;
    letter-spacing: 2.8px;
    margin-top: 5px;
}
.logo-block .style-15 {
    font-family: "Abhaya Libre", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
}
.logo-block .style-15 .icon-wrapper {
    margin-top: -15px;
    margin-right: -20px;
}
.logo-block .style-15 .slogan {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    letter-spacing: 2.6px;
    text-transform: uppercase;
}
.logo-block .style-16 {
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
}
.logo-block .style-16 span:first-child {
    display: block;
}
.logo-block .style-16 .icon-wrapper {
    margin-right: 10px;
}
.logo-block .style-17 {
    font-family: "REM", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-style: italic;
    position: relative;
}
.logo-block .style-17 span:not(:first-child) {
    font-weight: 400;
}
.logo-block .style-17 .icon-wrapper {
    position: absolute;
    left: -10px;
    top: -50px;
}
.logo-block .style-18 {
    font-family: "Geologica", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-18 span:not(:first-child) {
    font-weight: 300;
}
.logo-block .style-18 .title-wrap {
    margin-top: -10px;
}
.logo-block .style-19 {
    font-family: "Cardo", sans-serif;
    font-size: 24px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.logo-block .style-19 .company-name {
    border-bottom: 1px solid #000;
    border-color: var(--accent-color, #000);
    border-image: var(--accent-bg);
    border-image-slice: 1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.logo-block .style-19 .slogan {
    font-size: 14px;
}
.logo-block .style-20 {
    font-family: "Questrial", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--accent-color, #000);
    border-image: var(--accent-bg);
    border-image-slice: 1;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo-block .style-21 {
    font-family: "Palanquin Dark", sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
}
.logo-block .style-21 .slogan {
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Darker Grotesque", sans-serif;
    letter-spacing: 3.5px;
}
.logo-block .style-22 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: left;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.logo-block .style-22 .slogan {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.logo-block .style-22:before {
    content: '';
    display: block;
    height: 5px;
    width: 40px;
    background-color: var(--accent-color, #000);
    background-image: var(--accent-bg);
    margin-bottom: 5px;
}
.logo-block .style-23 {
    font-family: "Spinnaker", sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.logo-block .style-23 .slogan {
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-top: 5px;
    background-color: #000;
    background-size: 100%;
    -webkit-background-clip: initial !important;
    -moz-background-clip: initial !important;
    -webkit-text-fill-color: #fff !important;
    -moz-text-fill-color: #fff !important;
    color: #fff;
    border-radius: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.logo-block .style-24 {
    font-family: "Aoboshi One", sans-serif;
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.logo-block .style-24 .slogan {
    font-size: 12px;
    letter-spacing: 1px;
}
.logo-block .style-25 {
    font-family: "REM", sans-serif;
    font-size: 24px;
    letter-spacing: 3.5px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
}
.logo-block .style-25 span:first-child {
    display: block;
}
.logo-block .style-25 .slogan {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 10px;
}
.logo-block .style-26 {
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    letter-spacing: 3.5px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}
.logo-block .style-26 .company-name {
    padding: 5px 10px;
}
.logo-block .style-26 .company-name-border {
    background-color: var(--accent-color, #000);
    background-image: var(--accent-bg);
    border-radius: 6px;
    padding: 2px;
}
.logo-block .style-26 .company-name-wrapper {
    background: #fff;
    border-radius: 4px;
}
.logo-block .style-26 .slogan {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 5px;
}
.logo-block .style-27 {
    font-family: "Radley", serif;
    font-size: 23px;
    letter-spacing: 3.5px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--accent-color, #000);
    background-image: var(--accent-bg);
    border-radius: 3px;
    padding: 1px;
}
.logo-block .style-27 .title-wrap {
    background: #fff;
    border-radius: 3px;
    padding: 5px 10px;
}
.logo-block .style-27 .slogan {
    font-size: 13px;
    letter-spacing: 2.5px;
    margin-top: 2px;
}
.logo-block .style-28 {
    font-family: "Gruppo", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.logo-block .style-28 .slogan { 
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: initial !important;
    -moz-background-clip: initial !important;
    -webkit-text-fill-color: #000;
    -moz-text-fill-color: #000;
}
.logo-block .style-28:before { 
    content: '';
    background-color: var(--accent-color, #000);
    background-image: var(--accent-bg);
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
}
.logo-block .style-28 img {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
}
.logo-block .style-28 .icon-wrapper {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    mask-size: 100%;
}

.logo-block .style-29 {
    font-family: "Syne", sans-serif;
    font-size: 22px;
    letter-spacing: 3.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    position: relative;
}
.logo-block .style-29 .company-name {
    background-color: transparent !important;
    -webkit-background-clip: initial !important;
    -moz-background-clip: initial !important;
    -webkit-text-fill-color: #fff;
    -moz-text-fill-color: #fff;
    margin-left: 12px;
    position: relative;
}
.logo-block .style-29 .company-name:before,
.logo-block .style-29 .company-name:after {
    content: '';
    width: 3px;
    background: linear-gradient(90deg, #AEACB9 0%, #17191C 100%);
    background: var(--accent-color, #000);
    background-image: var(--accent-bg);
    position: absolute;
    left: -12px;
    top: 0;
    bottom: 0;
}
.logo-block .style-29 .company-name:after {
    left: -6px;
}
.logo-block .style-29 .company-name div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo-block .style-29 span {
    display: inline-block;
    padding: 0px 5px;
    background: linear-gradient(90deg, #AEACB9 0%, #17191C 100%);
    background: var(--accent-color, #000);
    background-image: var(--accent-bg);

}
.logo-block .style-29 .slogan {
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 400;
    margin-top: 5px;
}
.logo-block .style-30 {
    font-family: "Outfit", sans-serif;
    font-size: 23px;
    letter-spacing: 3.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.logo-block .style-30 span:not(:first-child) {
    font-weight: 300;
}
.logo-block .style-30 span:first-child:after {
    content: '';
    height: 50px;
    width: 1px;
    background: #000;
    background-image: var(--accent-bg);
    background: var(--accent-color, #000);

    position: absolute;
    top: -9px;
    margin-left: -6px;
}
.logo-block .style-31 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: 2.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border: 1px solid #000;
    border-color: var(--accent-color, #000);
    border-image: var(--accent-bg);
    border-image-slice: 1;
    padding: 10px 15px;
}
.logo-block .style-31:before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    border-color: var(--accent-color, #000);
    border-image: var(--accent-bg);
    border-image-slice: 1;
}
/* .logo-block .style-31 span:not(:first-child) {
    display: none;
} */
.logo-block .style-32 {
    font-family: "Blinker", sans-serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-align: left;
    line-height: 1;
}
.logo-block .style-32 .icon-wrapper {
    margin-top: 8px;
    margin-right: 7px;
}
/* .logo-block .style-32 span:not(:first-child) {
    display: none;
} */
.logo-block .style-32 .slogan {
    font-size: 16px;
    font-weight: 300;
}
.logo-block .style-33 {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    letter-spacing: 2.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    flex-direction: column;
}
.logo-block .style-33 .title-wrap {
    border-bottom: 1px solid #000;
    border-color: var(--accent-color, #000);
    border-image: var(--accent-bg);
    border-image-slice: 1;
    padding-bottom: 5px;
    padding-top: 5px;
}
.logo-block .style-33 .icon-wrapper {
    width: 100%;
    mask-size: auto 100%;
}
.logo-block .style-34 {
    font-family: "Cardo", sans-serif;
    font-size: 23px;
    letter-spacing: 3.5px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-34 .slogan {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 5px;
}
.logo-block .style-35 {
    font-family: "Questrial", sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-35 .title-wrap {
    margin-top: 10px;
}
.logo-block .style-36 {
    font-family: "Palanquin Dark", sans-serif;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.3;
}
.logo-block .style-36 .slogan {
    font-size: 16px;
    font-family: "Darker Grotesque", sans-serif;
    letter-spacing: 3.2px;
    margin-top: 5px;
}
.logo-block .style-37 {
    font-family: "Syne", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-block .style-38 {
    font-family: "REM", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
/* .logo-block .style-38 span:not(:first-child) {
    display: none;
} */
.logo-block .style-38 .icon-wrapper {
    order: 2;
}
.logo-block .style-38 .title-wrap {
    order: 1;
    margin-right: 5px;
}
.logo-block .style-39 {
    font-family: "Aoboshi One", sans-serif;
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-block .style-39 .slogan {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 5px;
}
.logo-block .style-40 {
    font-family: "Geologica", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    line-height: 1;
    font-style: italic;
}
.logo-block .style-40 span:first-child {
    display: block;
    padding-right: 5px;
}
.logo-block .style-40 span:last-child {
    padding-right: 5px;
}
.logo-block .style-40 span:not(:first-child) {
    font-weight: 300;
}
.logo-block .style-41 {
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
/* .logo-block .style-41 span:not(:first-child) {
    display: none;
} */
.logo-block .style-41 .slogan {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.logo-block .style-41 .title-wrap {
    margin-left: 5px;
    margin-top: -5px;
}
.logo-block .style-42 {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
/* .logo-block .style-42 span:not(:first-child) {
    display: none;
} */
.logo-block .style-42 .icon-wrapper {
    position: absolute;
    left: -28px;
    top: -7px;
    bottom: -7px;
    right: -105px;
    mask-size: 100% 100%;
}
.logo-block .style-42 .company-name {
    position: relative;
    -webkit-background-clip: initial !important;
    -moz-background-clip: initial !important;
    -webkit-text-fill-color: #fff;
    -moz-text-fill-color: #fff;
}
.logo-block .style-43 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-block .style-43 .title-wrap {
    border-top: 1px solid #000;
    border-color: var(--accent-color, #000);
    border-image: var(--accent-bg);
    border-image-slice: 1;
    padding-top: 5px;
    margin-top: -5px;
}
.logo-block .style-43 span:not(:first-child) {
    font-weight: 400;
}
.logo-block .style-44 {
    font-family: "Syne", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
    text-transform: uppercase;
}
.logo-block .style-44 .title-wrap {
    margin-left: 10px;
    margin-top: -5px;
}
.logo-block .style-44 span:first-child {
    display: block;
}
.logo-block .style-45 {
    font-family: "Outfit", sans-serif;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}
.logo-block .style-45 .icon-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -45px;
}
.logo-block .style-45 span:not(:first-child) {
    font-weight: 400;
}
/* .logo-block .style-46 {
    font-family: "Syncopate", sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}
.logo-block .style-46 .title-wrap {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -14px;
    background-color: #fff;
}
.logo-block .style-46 span {
    display: block;
}
.logo-block .style-46 span:not(:first-child) {
    font-size: 9px;
    letter-spacing: 1;
} */
.logo-block .style-47 {
    font-family: "Syncopate", sans-serif;
    font-size: 23px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}
/* .logo-block .style-47 span:not(:first-child) {
    display: none;
} */
.logo-block .style-47 .icon-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -47px;
}
.logo-block .style-48 {
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}
.logo-block .style-48 .icon-wrapper {
    margin-right: 10px;
}
.logo-block .style-48 .slogan {
    font-size: 12px;
    font-weight: 400;
}
.logo-block .style-49 {
    font-family: "Fredoka", sans-serif;
    font-size: 21px;
    letter-spacing: 4px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
}
.logo-block .style-49 .icon-wrapper {
    margin-bottom: 5px;
}
.logo-block .style-49 .slogan {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 5px;
}

