.logo-block-inner > div {
    display: flex;
    align-items: center;
}
.logo-block .style-1 {
    font-family: "Georama", serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    line-height: 1.1;
}
.logo-block .style-1 img {
    margin-right: 15px;
}
.logo-block .style-1 span {
    display: block;
}

.logo-block .style-2 {
    font-size: 30px;
}
.logo-block .style-2 .company-name {
    margin-left: -12px;
    margin-top: 13px;
}

.logo-block .style-3 {
    font-family: "Carrois Gothic SC", serif;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    flex-direction: column;
    font-size: 30px;
}
.logo-block .style-3 img {
    margin-bottom: 5px;
}

.logo-block .style-4 {
    flex-direction: column;
    font-family: "Playfair Display SC", serif;
    font-size: 25px;
    letter-spacing: 1px;
}
.logo-block .style-4 img {
    margin-bottom: 5px;
}

.logo-block .style-5 {
    font-family: "Montserrat", serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
}
.logo-block .style-5 img {
    margin-right: 12px;
}

.logo-block .style-6 {
    font-family: "Atkinson Hyperlegible", serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: left;
    line-height: 1.2;
}
.logo-block .style-6 img {
    margin-right: 10px;
}
.logo-block .style-6 span {
    display: block;
}

.logo-block .style-7 { 
    font-family: "Sofia Sans", serif;
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
}
.logo-block .style-7 .company-name {
    margin-bottom: 23px;
    margin-left: -80px;
}

.logo-block .style-8 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 25px;
}
.logo-block .style-8 .company-name {
    margin-left: -30px;
}

.logo-block .style-9 {
    flex-direction: column;
    font-family: "Barlow", serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-style: italic;
}
.logo-block .style-9 img {
    margin-bottom: 8px;
}


.logo-block .style-10  {
    flex-direction: column;
    font-family: "Hedvig Letters Serif", serif;
    margin-bottom: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 22px;
}
.logo-block .style-10 .company-name {
    border-bottom: 1px solid #AEACB9;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.logo-block .style-10 .slogan {
    font-size: 14px;
}